<h1>Stupid Coaching</h1>
<p>Ask your coach anything:</p>
<form action="/answer">
  <input class="question" type="text" name="question" placeholder="Type your question">
  <input class="btn-ask" type="submit" value="Ask!">
</form>
